.movie{
     width: 100%;
     position: relative;
     display: flex;
     align-items: center;
     flex-direction: column;

}
.poster_image{
     width: 80%;
     margin-top: 2rem;
     height: 500px;
}
.poster_image img{
        width: 100%;
        height: 500px;
        object-fit:cover;
        object-position: 0 28%;
        background-size: contain;
}
.Movie__Detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    position: absolute;
    top:25rem;
    bottom: 0;
    margin-bottom: 4rem;
}
.left-section img{
      height: 210px;
      width: 230px;
}
.right-section{
    width:70%;
}
.movie__title h3{
      font-size: 3rem;
      color: #fff;
      font-weight: 500;
}
.movie__runtime{
     font-size: 25px;
     color: #fff;
     display: flex;
     align-items: center;
     margin-bottom: 10px;
}
.movie__generes{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap:1rem;
}
.movie__generes li{
     list-style: none;
     border: 1px solid #fff;
     font-size: 18px;
     border-radius: 50px;
     padding: 10px 15px;
     font-weight: 500;
     z-index: 1000;
     background: linear-gradient(rgb(54, 53, 53),rgb(85, 85, 85));
}
.movie__Description{
    font-size: 15px;
    color: #fff;
    padding: 20px 0px;
    position: absolute;
    top:10rem;
}
.Useful__links{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 15rem;
     
}
.Useful__links p{
       font-size: 4rem;
       font-weight: 500;
       color: #fff;
}
.Useful__links .links{
        height: 50px;
        width: 180px;
        background: #d7ee04;
        color: #000;
        border-radius: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
}

.Useful__links .links a{
      text-decoration: none;
      font-size: 1.6rem;
      text-align: center;
      color: #000;
      font-weight: 500;
}
.container{
       height: 50px;
       width: 180px;
       background: #fff;
       text-align: center;
       display: flex;
       align-items: center;
       justify-content: center;
       position: relative;
       left:36rem;
       margin-bottom: 20px;
       border-radius: 50px;
       background: red;
}
.container a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;

}