.navBar{
      max-width: 1160px;
      margin:0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.left-section{
       color:rgb(15, 47, 224);
       font-weight: 500;
}
.right-section ul{
      list-style: none;
      display: flex;
      align-items: center;
      gap:1rem;
      font-size: 1.2rem;
      cursor: pointer;
}